@model IEnumerable<Product>


<!DOCTYPE html>
<html>
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Mobirise v5.7.8, mobirise.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="assets/images/coffee-icon-sign-symbol-design-free-png.webp" type="image/x-icon">
    <meta name="description" content="">


    <title>Home</title>
    <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
    <link rel="stylesheet" href="assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="assets/parallax/jarallax.css">
    <link rel="stylesheet" href="assets/dropdown/css/style.css">
    <link rel="stylesheet" href="assets/socicon/css/styles.css">
    <link rel="stylesheet" href="assets/theme/css/style.css">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
    <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css">
    <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">




</head>
<body>

    <section data-bs-version="5.1" class="menu menu3 cid-tsEQosCCDP" once="menu" id="menu3-0">
        <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
            <div class="container">
                <div class="navbar-brand">
                    <span class="navbar-logo">
                        <a href="index.html">
                            <img src="assets/images/coffee-icon-sign-symbol-design-free-png.webp" alt="Carpet Store" style="height: 3rem;">
                        </a>
                    </span>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
                        <li class="nav-item"><a class="nav-link link text-black show display-4" href="index.html">Home</a></li>
                        <li class="nav-item"><a class="nav-link link text-black show display-4" asp-action="Shop" asp-controller="Products">Shop</a></li>
                        <li class="nav-item"><a class="nav-link link text-black show display-4" href="page5.html">Contact</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link link text-black dropdown-toggle show display-4" data-toggle="dropdown-submenu" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="mobi-mbri mobi-mbri-user-2 mbr-iconfont mbr-iconfont-btn"></span></a>
                            <div class="dropdown-menu show" aria-labelledby="dropdown-751" data-bs-popper="none">
                                <a class="text-black show dropdown-item display-4" asp-controller="Account" asp-action="Register"></a>
                                <a class="text-black show dropdown-item display-4" asp-controller="Account" asp-action="Login">Login</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link text-black show display-4" href="page3.html">
                                <span class="mobi-mbri mobi-mbri-shopping-bag mbr-iconfont mbr-iconfont-btn"><small>(0)</small></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>

    <section data-bs-version="5.1" class="header18 cid-tsEQyIZRcx mbr-fullscreen mbr-parallax-background" id="header18-1">
        <div class="mbr-overlay" style="opacity:0.9; background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20230610/pngtree-rug-in-a-living-room-with-fireplace-and-black-walls-image_2928419.jpg');"></div>
        <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(0, 0, 0);"></div>
        <div class="align-center container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1"><strong>CARPET STORE.</strong></h1>

                    <p class="mbr-text mbr-fonts-style mbr-white display-7">
                        Your Gateway to Luxurious Living
                    </p>
                    <div class="mbr-section-btn mt-3"><a class="btn btn-primary display-4" asp-controller="Products" asp-action="AllProducts"><span class="mobi-mbri mobi-mbri-shopping-bag mbr-iconfont mbr-iconfont-btn"></span>Shop now&nbsp;</a></div>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="content2 cid-tsEQSCqggh" id="content2-2">
        <div class="container">
            <div class="mbr-section-head">
                <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>Trending Products</strong></h4>
                <h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-5">Elevate Your Space with our Trending Carpets.</h5>
            </div>
            <div class="row mt-4">
                @foreach (var product in Model)
                {
                    <div class="item features-image сol-12 col-md-6 col-lg-4">
                        <div class="item-wrapper">
                            <div class="item-img">
                                <img src="@product.ImageUrl" alt="@product.Name" title="">
                            </div>
                            <div class="item-content">
                                <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong>@product.Name</strong></h6>
                                <p class="mbr-text mbr-fonts-style mt-3 display-7">@product.Price.ToString("C2")</p>
                            </div>
                            <div class="mbr-section-btn item-footer mt-2">
                                <a asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-pId="@product.Id" class="btn btn-primary item-btn display-4" target="_self">
                                    <span class="mbrib-cart-add mbr-iconfont mbr-iconfont-btn"></span>Add to cart&nbsp;
                                </a>
                                <a asp-controller="Products" asp-action="Detail" asp-route-id="@product.Id" class="btn btn-primary item-btn display-4" target="_self">
                                    <span class="mbrib-eye mbr-iconfont mbr-iconfont-btn"></span>View Details&nbsp;
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="footer7 cid-tsQdrs3Vrj" once="footers" id="footer7-13">
        <div class="container">
            <div class="media-container-row align-center mbr-white">
                <div class="col-12">
                    <p class="mbr-text mb-0 mbr-fonts-style display-7">
                        Made by: Muhamed Neziri
                    </p>
                </div>
            </div>
        </div>
    </section>

    <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/parallax/jarallax.js"></script>
    <script src="assets/smoothscroll/smooth-scroll.js"></script>
    <script src="assets/ytplayer/index.js"></script>
    <script src="assets/dropdown/js/navbar-dropdown.js"></script>
    <script src="assets/theme/js/script.js"></script>

</body>
</html>